
.header {
    background-color: #DEB685   ;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
body {
    background-color: #725434; /* o background-color: black; */
  }

.header .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

main {
    margin-top: 70px;
    
}

.LOGO img {
    width: 60px;
    height: auto;
    margin-top: 10px;
    max-width: 500px;
    height: auto;
    margin-left: 50px;
}

.left-section,
.main-section,
.right-section {
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar {
    background-color: #101F22 !important;
    min-height: 100vh;
    padding-top: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
}

.main-content {
    margin-left: 250px;
    margin-top: 20px;
}

.nav-link {
    color: #fff;
    text-align: center;
    display: block;
}

.nav-link:hover {
    background-color: #c49e60;
    color: #fff;
}

.nav-link i {
    margin-right: 10px;
}

.usuario {
    text-align: center;
    margin-top: 20px;
}

.usuario-info p {
    margin: 0;
    color: #fff;
}

.cerrarsesion .btn {
    color: #fff;
    background-color: #ff4b5c;
    border: none;
}

.cerrarsesion .btn:hover {
    background-color: #ff1e2d;
}

.no-proyectos {
    background-color: white;
    border: 1px solid #e1e8ed;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.usuario {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.imagen_user img {
    border-radius: 70%;
    align-items: center;
    width: 40px;
    height: 40px;
}

.butto {
    background-color: #FFEBCA;
    border-radius: 20px;
    color: #202020;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    font-size: 1.2rem;
    display: inline-block;
}

.butto i {
    margin-right: 8px;
}

.publicacion {
    background-color: #FFEBCA;
    border: 1px solid #202020;
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.publicacion img,
.publicacion video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.publicacion video {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.publicacion h3 {
    margin-top: 10px;
}

.publicacion a {
    color: #007bff;
    text-decoration: none;
}

.publicacion a:hover {
    text-decoration: underline;
}

.form-inline .form-control {
    border-radius: 20px;
}

.form-inline .btn-buscar {
    border-radius: 20px;
}

.btn-buscar {
    background-color: #070707;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 20px;
}

.btn-buscar:hover {
    background-color: #ffffff;
}

.btn-buscar i {
    margin-right: 5px;
}

.menu-desplegable {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.menu-desplegable a {
    display: block;
    padding: 8px 10px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu-desplegable a:hover {
    background-color: #DEB685;
    color: #000;
    cursor: pointer;
}

.imagen_user img {
    cursor: pointer;
}

.new-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.bi-bell, .bi-nut {
    font-size: 25px;
    color: #000000;
    background-color: #DEB685;
    border: none;
    border-radius: 80%;
    padding:15px;
    cursor: pointer;
  }
  
  .bi-bell:hover, .bi-nut:hover {
    background-color: #c49e60;
  }
  .main-section {
    box-shadow: 0 4px 6px 2px hsla(0, 0%, 0%, 0.2);
}
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.5s ease;
}
.right-section {
    margin-top: 70px; /* o cualquier otro valor que desees */
  }
  .right-section {
    position: fixed;
    top: 100px; /* adjust the value to your liking */
    right: 20px; /* adjust the value to your liking */
    width: 300px; /* adjust the value to your liking */
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
 
  
  .left-section {
    position: fixed;
    top: 180px; /* Distancia desde la parte superior de la pantalla */
    left: 20;
    width: 20%; /* Ancho similar al contenedor derecho */
    padding: 20px;
    box-sizing: border-box;
    margin-right: 40px; /* Espacio entre el contenedor izquierdo y el derecho */
    background-color: #f7f7f7; /* Fondo claro */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgb(0, 0, 0); /* Sombra leve */
  }
  .animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ffffff 0%, #DEB685 50%, #725434 100%);
    background-size: 400% 400%;
    animation: Gradient 8s ease infinite;
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }