@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}

body, input {
    font-family: "Fira Sans", sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #FFEBCA;
    overflow: hidden;
}
.container:before{
    content: "";
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #664a2b;
    top: -15%;
    right: 50%;
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signin-signup{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}
.Logo{
    width: 50px;
    height: 50px;
}

form{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    padding: 0rem 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: all 0.3s 0.8s;
}
form.sign-in-form{
    z-index: 2;
}
form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.Title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}
.Welcome{
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 5px;
}
.input-field{
    max-width: 380px;
    position: relative;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
   text-align: center;
   line-height: 55px;
   color: #a7a7a7;
   font-size: 1.1rem;
   transition: .5s; 
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}
.btn{
    width: 150px;
    height: 49px;
    border: none;
    border-radius: 49px;
    outline: none;
    cursor: pointer;
    background-color: #c29458;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.btn:hover{
    background-color: #695741;
}


.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}
.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
    align-items: flex-start;
  }

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}
.panel .content{
    color: #FFEBCA;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
    align-self: center;
    margin-top: 50px;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}
.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}
.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #FFEBCA;
    color: #FFEBCA;
    width: 130px;
    height: 40px;
    font-weight: 600;
    font-size: 0.8rem;
}


.image {
    width: 90%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }


.right-panel .content, .right-panel .image{
    transform: translateX(900px);
}

/* ANIMACION */

.container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }




  /* Estilos del header */
header {
    width: 100%;
    background: #664a2b;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 45px;
    height: 45px;
    background-image: url(../IMG/LOGOUNINOVA.png); /* Reemplaza 'ruta/de/tu/logo.png' con la ruta de tu logo */
    background-size: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 40px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #FFEBCA;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}


nav ul li a:hover {
    color: #c29458;
}

/* Tu archivo CSS */
.Logos {
    width: 200px; /* Cambia el ancho según lo necesites */
    height: auto; /* Esto mantiene la proporción de la imagen */
}



@media (max-width: 870px) {
    .container {
      min-height: 800px;
      height: 100vh;
      margin-top: 50px;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .container.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
      margin: 10px;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
      
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .container:before {
      width: 1250px;
      height: 1250px;
      transform: translateX(-50%);
      left: 25%;
      bottom: 75%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .container.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .container.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
    .Logos{
        width: 100px;
        height: auto;
    }
    .Welcome{
        font-size: 1rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
      margin-top: -40px;
    }
    .container {
      padding: 1.5rem;
      margin-top: 60px;
    }
  
    .container:before {
      bottom: 82%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }