{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} | Uni-nova</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CSS/editperfil.css' %}">
</head>

<body>
    <div class="container mt-5">
        <!-- Perfil del Usuario -->
        <div class="row">
            <div class="col-md-4">
                <!-- Card de Perfil -->
                <div class="card">
                    <div class="imagen_user">
                        {% if user_profile.foto_perfil %}
                        <img src="{{ user_profile.foto_perfil.url }}" alt="Foto de perfil" class="img-fluid ">
                        {% else %}
                        <img src="{% static 'IMG/Defaultuser.png' %}" class="img-fluid rounded-circle">
                        {% endif %}
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">{{ user.username }}</h4>
                        <p class="card-text">{{ user_profile.carrera.nombre_solo }}</p>
                        {% if user_profile.acerca_de_mi %}
                        <p class="card-text">{{ user_profile.acerca_de_mi }}</p>
                        {% else %}
                        <p class="card-text">Sin descripción</p>
                        {% endif %}
                        {% if user == request.user %}
                        <button id="editarPerfilBtn" class="btn btn-primary">Editar Perfil</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!-- Información del Usuario -->
                <div class="card mb-4">
                    <div class="card-header">
                        Información Personal
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Nombre: </strong>{{ user.first_name }} {{ user.last_name}}</li>
                            {% if user_profile.fecha_nacimiento %}
                            <li class="list-group-item">
                                <strong>Fecha de Nacimiento: </strong>
                                {{ user_profile.fecha_nacimiento }}
                            </li>
                            {% endif %}
                            <li class="list-group-item"><strong>Universidad: </strong>{{ universidad_usuario }}</li>
                        </ul>
                    </div>
                </div>

                <!-- Proyectos del Usuario -->
                <div class="card mb-4">
                    <div class="card-header">
                        Proyectos Creados
                    </div>
                    <div class="card-body">
                        {% if proyectos_creados %}
                        <ul class="list-group list-group-flush">
                            {% for proyecto in proyectos_creados %}
                            <li class="list-group-item">
                                <h5>{{ proyecto.nombre_proyecto }}</h5>
                                <p>{{ proyecto.descripcion }}</p>
                                <a href="{{ proyecto.get_absolute_url }}" class="btn btn-secondary btn-sm">Ver
                                    Proyecto</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No hay proyectos disponibles.</p>
                        {% endif %}
                    </div>
                </div>

                <!-- Proyectos Colaborados -->
                <div class="card mb-4">
                    <div class="card-header">
                        Proyectos Colaborados
                    </div>
                    <div class="card-body">
                        {% if proyectos_colaborados %}
                        <ul class="list-group list-group-flush">
                            {% for proyecto in proyectos_colaborados %}
                            <li class="list-group-item">
                                <h5>{{ proyecto.nombre_proyecto }}</h5>
                                <p>{{ proyecto.descripcion }}</p>
                                <a href="{{ proyecto.get_absolute_url }}" class="btn btn-secondary btn-sm">Ver
                                    Proyecto</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No hay proyectos disponibles.</p>
                        {% endif %}
                    </div>
                </div>

                <!-- Configuración -->
                {% if user == request.user %}
                <div class="card mb-4">
                    <div class="card-header">
                        Configuración
                    </div>
                    <div class="card-body">
                        <a href="{% url 'cerrar_sesion' %}" class="btn btn-danger">Cerrar sesión</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div id="editarPerfilModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="editarPerfilForm" method="POST" action="{% url 'edit_user' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Nombre de usuario:</label>
                        <input type="text" id="username" name="username" class="form-control" value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" value="{{ user.first_name }}">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" class="form-control" value="{{ user.last_name }}">
                    </div>
                    <input type="submit" value="Guardar Cambios" class="btn btn-primary">
                </form>
            </div>
        </div>
        
        
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'JS/perfil_user.js' %}"></script>
</body>

</html>